*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(/assets/images/fondo.png) no-repeat center/cover;
    background: #f7f9f9;
    background-attachment: fixed;
    font-family: 'Radio Canada', sans-serif;
}
ul{
    list-style: none;
}
.cuerpo{
    margin: 80px auto;
    width: 90%;
}

.cuerpo header{
    text-align: center;
    margin-bottom: 40px;
}
.cuerpo header h1{
    font-size: 30px;
}
.cuerpo header p{
    font-size: 20px;
}
.cuerpo header h1,p{
    padding-bottom: 10px;
}




.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}
.img_product{
    width: 100%;
    height: 200px;
}
.products h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 122, 45);
}
.products article p{
    text-align: center;
    font-size: 17px;
}
.products article h2,p{
    margin-top: 5px;
    padding: 10px 0;
}
.products article{
    background: #85c1e9;
    overflow: hidden;
}

.fixed{position:fixed; top:0}